/* Custom Properties */
:root {
  --color-text-white: #ffffff;
  --color-text-gray: #848586;
  --color-text-black: #0d1821;

  --color-blue: #6F73D2;
  --color-green: #86A59C;
  --color-mint: #70EE9C;
  --color-black: #101419;
  --color-blue-dark: #253C78;
  --color-bg-white: #F9F1F1;
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

img {
  max-width: 100%;
}

/* Layout Utilities */
.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  width: 100%;
}

.logo__icon,
.main-item__icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

/* Header/Nav */
.header {
  padding: 1em 0;
}

.header__items {
  flex-direction: row;
  align-items: center;
}

.nav__list {
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
}

.nav__item {
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
}

/* Intro Section */
.intro {
  background-image: url("assets/images/hero-alt.jpg");
  color: var(--color-text-white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 0;
  height: 80vh;
}

.intro__content {
  width: 50%;
}

.intro__title {
  font-size: 3rem;
  margin-bottom: 0.5em;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
}

.intro__title--accent {
  color: var(--color-mint);
  margin-left: .3em;
}

/* .intro__title--accent::before {
  content: 'Drums';
  animation: animate infinite 8s;
}

@keyframes animate {
  0% {
    content: 'Drums'
  }

  25% {
    content: 'Artistic Expression'
  }

  50% {
    content: 'The Language of Music'
  }

  75% {
    content: 'To Have Fun'
  }
} */

.intro__text {
  font-size: 1.8rem;
}

/* Main Section */
.main {
  padding: 1em 0;
}

.main__title {
  text-align: center;
  font-size: 2rem;
  margin: 0.25em 0;
}

.main-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-item__icon {
  margin: 1em 0;
}

.main-item__title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

/* Reviews Section */
.reviews__title {
  text-align: center;
  font-size: 2rem;
}

.review-item {
  display: flex;
  margin: 2rem 0;
  /* border: 1px solid; */
}

.review-item__img {
  border-radius: 50%;
}

.review-item__content {
  font-size: 1.3rem;
  padding: 0 .75em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.review-item__name::before {
  content: "";
  display: inline-block;
  height: 0.2rem;
  width: 1.25rem;
  background: var(--color-blue-dark);
  margin-right: .5em;
  position: relative;
  bottom: .2em;
}

/* Close Section */
.close {
  background-color: var(--color-bg-white);
  color: var(--color-text-black);
}

.close__title {
  text-align: center;
  font-size: 2rem;
  margin: .5em 0;
}

.close__text {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

/* Footer */
.footer {
  padding: 1em 0;
  background-color: var(--color-black);
  color: var(--color-text-gray);
}